/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

* {
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background: #f1f1f1;
  font-family: 'Lato', sans-serif;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

p {
  line-height: 1.8em;
}

.wrapper {
  max-width: 1000px;
  padding: 25px;
  margin: auto;
  clear: both;
}

/* HEADER */

#header {
  height: 200px;
  background: white;
}

#header .wrapper {
  padding-top: 20px;
}

#me {
  float: left;
  width:  70px;
  height: 70px;
  margin-top: 43px;
}

h1 {
  color: black;
  font-weight: normal;
  float: left;
  margin: 43px 40px;
  letter-spacing: .08em;
}

h1 span.title {
  color: #797979;
  font-size: 0.6em;
  word-spacing: .3em;
}

#header ul {
  float: right; 
  margin: 27px 0 0 0;
  padding: 0;
}

#header li {
  display: inline-block; 
}

#header li a {
  display: block;
  text-decoration: none;
  color: #424242;
  height: 110px;
  width: 110px;
  text-align: center;
  padding: 45px 0;
  letter-spacing: .1em;
  -webkit-transition: .5s all;
     -moz-transition: .5s all;
         -transition: .5s all;
}

#header li a:hover {
  background: #eee;
  -webkit-transition: .5s all;
     -moz-transition: .5s all;
         -transition: .5s all;
}

#header li a.selected {
  border-bottom: 5px solid #e34234;
}

/* CAROUSEL */

#carousel {
  text-align: center;
  font-size: 1.3em;
  position: relative;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

#index #carousel {
  padding-top: 360px;
}

#carousel {
  padding: 20px 0 50px 0;
}

#work #carousel ul {
  margin: 0;
  padding: 0;
}

.carousel-item {
  height: 412px;
  margin-bottom: 40px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: 1s all;
     -moz-transition: 1s all;
         -transition: 1s all;
}

.carousel-item {
  z-index: 1;
}

.carousel-item.selected {
  z-index: 2;
}

.carousel-item a {
  display: inline-block;
  border: 1px solid rgba(255,255,255, .25);
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  font-size: .7em;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

.carousel-item:hover a {
  border: 1px solid rgba(255,255,255, .4);
  background: rgba(255,255,255,.1);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

.bg-yammer    { background-color: #0099C7;}
.bg-commonsku { background-color: #B21C56;}
.bg-geni      { background-color: #005AAA;}
.bg-rs        { background-color: #EF1E25;}
.bg-afti      { background-color: #EA4F51;}

.callout {
  z-index: 100;
  display: block;
  position: absolute;
  background-image: url("../img/callout.png");
  background-position-x: -400;
  height: 32px;
  width: 100%;
  left: 0;
  -webkit-transition: .5s all;
     -moz-transition: .5s all;
         -transition: .5s all;
}

#index .callout {
  top: 380px;
}

#work .callout {
  bottom: 0;
}

#carousel .selected img {
  opacity: 1 !important;
}

#index #carousel-yammer img {
  height: 80px;
  margin: 60px 0 30px 0;
}

#index #carousel-geni img {
  height: 80px;
  margin: 60px 0 30px 0;
}

#index #carousel-commonsku img {
  height: 100px;
  margin: 60px 0 10px 0;
}

#index #carousel-rs img {
  margin: 0 0 20px 0;
}

.work-nav {
  margin: 60px 0 0 0;
}

#carousel li {
  display: inline-block;
  cursor: pointer;
}

#carousel li img {
  opacity: .4;
  padding: 0 40px;
  -webkit-transition: .5s all;
     -moz-transition: .5s all;
         -transition: .5s all;
}

#carousel li:hover img {
  opacity: .6;
  -webkit-transition: .5s all;
     -moz-transition: .5s all;
         -transition: .5s all;
}

#carousel[name="cloned"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

#carousel {
  padding: 20px 0 20px 0;
}

.callout {
  display: none;
}

/* ABOUT TEXT */

.about {
  background: white;
  padding: 40px 0;
  font-size: 1.3em;
  color: #666;
}

.about a {
  color: #92a5e6;
  font-weight: bold;
  text-decoration: none;
}

.about a:hover {
   background: #f2f5ff;
}

.about a.button {
  background: #8e97b5;
  margin: 20px auto;
  display: block;
  text-align:center;
  width: 220px;
  padding: 20px;
  color: white;
  text-decoration: none;
  border-bottom: 3px solid #556390;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  opacity: .9;
}

.button:active {
  border-bottom: 0;
  margin-top: 23px;
}

.about img {
  border: 1px solid #eee;
  margin: 2em auto;
  width: 100%;
  box-shadow: 0 5px 12px -4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 5px 12px -4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 12px -4px rgba(0,0,0,0.2);
}

a.preview {
  background: none;
  display:block;
  position: relative;
}

a.preview:after {
  content:"View Full Size";
  display:block;
  position: absolute;
  top: 190px;
  left: 390px;
  text-align:center;
  background: rgba(0,0,0,.5);
  padding: 50px;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  opacity: 0;
}

a.preview:hover:after {
  opacity: 1;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.about-role, .about-project {
  float: left;
  width: 45%;
}

.about-project {
   margin-right: 10%;
}


.about h2 {
   margin-top: 2em;
}

/* FOOTER */

#footer {
  min-height: 200px;
  color: #999;
  padding: 40px 0;
  line-height: 2em;
}

#footer h2 {
  font-weight: normal;
}

#footer a {
  color: #999;
  text-decoration: none;
}

#footer ul {
  padding: 0;
  margin: 0;
}

#footer li {
  list-style: none;
}

#footer li span {
  font-size: .7em;
  display: block;
  line-height: .7em;
  margin-bottom: 15px;
}

.footer-module {
  float: left;
  margin-right: 100px;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
